@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

:root {
    --font-family: "Montserrat", sans-serif;
    --background: #0f0e17;
    --primary: #fed941;
    --grey: #a7a9be;
    --white: #fffffe;
    --border: #0e3fa9;
    --background-modal: #0f0e17;
}

body {
    font-family: var(--font-family);
    background-color: var(--background);
}

.container {
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0;
}

.modal {
    top: 20%;
}

.modal-content {
    flex-direction: row;
    right: 22rem;
    width: 72rem;
    background: var(--background-modal);
    color: var(--white);
}