.movieList__title {
    padding-top: 3rem;
    color: var(--white);
    font-weight: 700;
}

.movieList__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.movieList__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
