.form__input {
    width: 30rem;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: 3px solid var(--primary);
}

@media (max-width: 1140px) {
    .form__input {
        width: 20rem;
    }
}